<div class="sginup-con">
  <!--<div class="logo-con login-pading"><a href="/"><img src="/assets/logo-signup.png" alt=""></a></div>-->
  <div class="w-100">
    <div id="flash_messages">
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, :class => "flash #{key}") %>
      <% end %>
    </div>
    <%#= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:id => 'signin_form', :multipart => true, :remote => true}) do |f| %>

        <div class="signup-form-box">
          <label>Email Address (@umich.edu)</label>
          <%= f.email_field :email, autofocus: true %>
        </div>
        <div class="signup-form-box">
          <label>Password</label>
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

       <div class="signup-form-check-box">
          <% if devise_mapping.rememberable? -%>
              <div class="remember-me">
                <!--<input type="checkbox" class="css-checkbox lrg" id="checkbox79" style="display:none;">-->
               <!-- <%= f.check_box :remember_me, :class => "css-checkbox lrg", :id => "checkbox79", :style => "display:none;" %>-->
                <!--<label class="css-label lrg remember-me-bg" name="checkbox79_lbl" for="checkbox79"></label>-->
               <!-- <span class="label">Remember me</span>-->
              </div>
          <% end %>
        </div>

        <div class="signup-btn">
          <input type="button" value="Login" onclick="submit_form()">
        </div>
    <% end %>
    <div class="forgotpw-link">
      <!--<a href="<%#= new_password_path(resource_name) %>">FORGOT PASSWORD?</a>-->
    </div>
    <div class="already-txt">
      DON'T HAVE AN ACCOUNT? <a href="/users/sign_up">CLICK HERE</a>
    </div>

  </div>
</div>

<script>
    $(document).ready(function () {
        $("#head_div").removeClass('bg-image');
        $("#head_div").addClass('bg-image-login');
        $('#signin_form').validate({

            rules: {
                "user[email]": {
                    email: true,
                    required: true
                },
                "user[password]": {
                    maxlength: 255,
                    minlength: 8,
                    required: true
                }
            }
        });
    });
    setTimeout(function () {
      $('#flash_messages').fadeOut()
    }, 2000)


    function submit_form() {
        if ($('#signin_form').valid() == true) {
            $("#signin_form").submit();
        }
    }
</script>
<style>
    #flash_messages {
        color: red!important;
    }
</style>


