<body class="page-header-fixed page-quick-sidebar-over-content ">
<div class="page-content-wrapper">
  <div class="page-content" style="min-height:1215px">
    <div class="row">
      <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">
          Celebrity
        </h3>
        <ul class="page-breadcrumb breadcrumb">
          <li>
            <i class="fa fa-home"></i>
            <a href="/admin/celebrities/all-celebrities">Celebrities</a>
            <i class="fa fa-angle-right"></i>
          </li>
          <li>
            <a href="/admin/celebrities/new">Add Celebrity</a>
          </li>
          <li class="pull-right">
            <div data-original-title="Change dashboard date range" data-placement="top" class="dashboard-date-range tooltips" id="dashboard-report-range">
              <i class="icon-calendar"></i>
              <span></span>
              <i class="fa fa-angle-down"></i>
            </div>
          </li>
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">

        <div class="portlet box grey-cascade">
          <div class="portlet-title">
            <div class="caption">
              <i class="fa fa-comments"></i>New Celebrity
            </div>
            <div class="tools">
              <a class="collapse" href="javascript:;">
              </a>
            </div>
          </div>
          <div class="portlet-body">
            <%= form_for(@ceb, :url => "/admin/celebrities/update_celebrity_details", :html => {:multipart => true}) do |f| %>

                <%#= f.hidden_field :user_id, :value => @user_id %>
                <div class="clearfix">
                  <label>About Me:</label>
                  <%= f.text_field :about_me, :class => "form-control placeholder-no-fix", :placeholder => "About Me" %>
                </div>

                <div class="clearfix">
                  <label>Description:</label>
                  <%= f.text_area :description, :class => "form-control placeholder-no-fix" %>
                </div>

                <div class="clearfix">
                  <label>Default Rate:</label>
                  <%= f.text_field :default_rate, :placeholder => "Default Rate", :class => "form-control placeholder-no-fix" %>
                </div>
                <%= f.hidden_field :user_id, value: "#{@user_id}" %>
                <div class="clearfix">
                  <label>Per Alphabet Rate:</label>
                  <%= f.text_field :per_alphabet_rate, :placeholder => "Per Alphabet Rate", :class => "form-control placeholder-no-fix" %>
                </div>


                <div class="clearfix">
                  <label>Profile Picture:</label>

                  <div style="padding: 2px;">
                    <%= image_tag @ceb.avatar.url(:thumb) %>
                  </div>
                  <%= f.file_field :avatar %>
                </div>
                <div class="clearfix">
                  <label>Date of Birth:</label>
                  <%= f.date_select "date_of_birth", :start_year => 1900, :end_year => Date.today.year, :class => "form-control" %>
                </div>
                <br>

                <!--merchant_account.individual_details.address.street_address-->
                <!--merchant_account.individual_details.address.locality-->
                <!--merchant_account.individual_details.address.region-->
                <!--merchant_account.individual_details.address.postal_code-->
                <!--merchant_account.funding_details.account_number_last_4-->
                <!--#If account_number is 4 digits or less, **** is returned-->
                <!--merchant_account.funding_details.routing_number-->

                <div class="clearfix">
                  <label>Street Address:</label>
                  <%= text_field_tag "street_address", merchant_account.present? ? merchant_account.individual_details.address.street_address : nil, :placeholder => "Street Address", :class => 'form-control placeholder-no-fix' %>
                </div>
                <div class="clearfix">
                  <label>City:</label>
                  <%= text_field_tag "city", merchant_account.present? ? merchant_account.individual_details.address.locality : nil, :placeholder => "City", :class => 'form-control placeholder-no-fix' %>
                </div>
                <div class="clearfix">
                  <label>State:</label>
                  <%= text_field_tag "state", merchant_account.present? ? merchant_account.individual_details.address.region : nil, :placeholder => "Street Address", :class => 'form-control placeholder-no-fix' %>
                </div>
                <div class="clearfix">
                  <label>Postal Code:</label>
                  <%= text_field_tag "postal_code", merchant_account.present? ? merchant_account.individual_details.address.postal_code : nil, :placeholder => "Postal Code", :class => 'form-control placeholder-no-fix' %>
                </div>
                <div class="clearfix">
                  <label>Account Number:</label>
                  <%= text_field_tag "account_number",merchant_account.present? ? "********" + merchant_account.funding_details.account_number_last_4 : nil, :placeholder => "Account Number", :class => 'form-control placeholder-no-fix' %>
                </div>
                <div class="clearfix">
                  <label>Routing Number:</label>
                  <%= text_field_tag "routing_number",merchant_account.present? ? merchant_account.funding_details.routing_number : nil, :placeholder => "Routing Number", :class => 'form-control placeholder-no-fix' %>
                </div>
                <div class="clearfix">
                  <label>Is Verified:</label>
                  <%= f.check_box :verified_account, :class => "css-checkbox lrg", :id => "checkbox"%>
                  <%#= text_field_tag "is_varified", nil, :placeholder => "Routing Number", :class => 'form-control placeholder-no-fix' %>
                </div>
                <div class="clearfix">
                  <label>Facebook Link:</label>
                  <%= f.text_field :fb_link, :placeholder => "Facebook Link", :class => 'form-control placeholder-no-fix' %>
                </div>
                <div class="clearfix">
                  <label>Twitter Link:</label>
                  <%= f.text_field :tw_link, :placeholder => "Twitter Link", :class => 'form-control placeholder-no-fix' %>
                </div>
                <div class="clearfix">
                  <label>Pinterest Link:</label>
                  <%= f.text_field :pin_link, :placeholder => "Pinterest Link", :class => 'form-control placeholder-no-fix' %>
                </div>
                <div class="clearfix">
                  <label>Gmail Link:</label>
                  <%= f.text_field :gmail_link,  :placeholder => "Gmail Link", :class => 'form-control placeholder-no-fix' %>
                </div>
                <div class="clearfix">
                  <label>Linkedin Link:</label>
                  <%= f.text_field :in_link, :placeholder => "Linkedin Link", :class => 'form-control placeholder-no-fix' %>
                </div>
                <div class="clearfix">
                  <label>Stumble Link:</label>
                  <%= f.text_field :sn_link,  :placeholder => "Stumble Link", :class => 'form-control placeholder-no-fix' %>
                </div>

                <div class="clearfix" style="margin:20px 0px 0px 0px">
                  <%= f.submit "Complete Update", :class => "btn green pull-left" %>
                </div>
            <% end %>

          </div>
        </div>


      </div>
    </div>
  </div>
</div>
</body>
<script>
    $(document).ready(function () {
        $("new_user").validate({
            debug: true,
            rules: {
                "celebrity[description]": {
                    required: true
                },
                "celebrity[default_rate]": {
                    required: true
                },
                "celebrity[per_alphabet_rate]": {
                    required: true
                },
                "celebrity[avatar]": {
                    required: true
                },
                "celebrity[about_me]": {
                    required: true
                },
                "street_address": {
                    required: true
                },
                "city": {
                    required: true
                },
                "state": {
                    required: true
                },
                "postal_code": {
                    required: true
                },
                "account_number": {
                    required: true
                },
                "routing_number": {
                    required: true
                }
            }
        });
    });
    $('#new_user').submit(function () {
        if ($('#new_user').valid() == true) {
            var postData = $(this).serialize();
            var formURL = $(this).attr("action");
            $.ajax({
                url: formURL,
                type: 'post',
                data: postData,
                success: function (data) {
                    if (data == "not") {
                        window.location.href = '/sign_in';
                    }
                    else {
                        window.location.href = '/admin/celebrities/all-celebrities';
                    }
                }
            });
        }
    });
</script>





