<%= javascript_include_tag 'swfobject' %>
<%= jwplayer_assets %>
<body class="page-header-fixed page-quick-sidebar-over-content ">
<div class="page-content-wrapper">
  <div class="page-content" style="min-height:1215px">
    <div class="row">
      <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">
          Job
        </h3>
        <ul class="page-breadcrumb breadcrumb">
          <li>
            <i class="fa fa-home"></i>
            <a href="/admin/jobs/index">New Jobs/Approved Jobs/Completed jobs/Rejected jobs</a>
            <i class="fa fa-angle-right"></i>
          </li>
          <li>
            <i class="fa fa-home"></i>
            <a href="/admin/jobs/celebrity-completed-jobs">Display Completed Jobs From Celebrities</a>
            <i class="fa fa-angle-right"></i>
          </li>
          <li class="pull-right">
            <div data-original-title="Change dashboard date range" data-placement="top" class="dashboard-date-range tooltips" id="dashboard-report-range">
              <i class="icon-calendar"></i>
              <span></span>
              <i class="fa fa-angle-down"></i>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">

        <div class="portlet box grey-cascade">
          <div class="portlet-title">
            <div class="caption">
              <i class="fa fa-comments"></i>Job Details
            </div>
            <div class="tools">
              <a class="collapse" href="javascript:;">
              </a>
            </div>
          </div>
          <div class="portlet-body">

            <div class="clearfix">
              <label>Job Created by</label>
              <input type="text" value="<%= (@job.user.present? && @job.user.first_name.present? && @job.user.last_name.present?) ? (@job.user.first_name + " " + @job.user.last_name) : "" %>" class="form-control placeholder-no-fix" readonly="true"/>
            </div>
            <div class="clearfix">
              <label>Celebrity Name</label>
              <% cel_user = User.find(@job.celebrity_id) %>
              <input type="text" value="<%= (cel_user.first_name.present? && cel_user.first_name.present?) ? cel_user.first_name + " " + cel_user.last_name : ""  %>" class="form-control placeholder-no-fix" readonly="true"/>
            </div>
            <div class=" clearfix">
              <label>Message for</label>
              <input type="text" value="<%= @job.message_for %>" class="form-control placeholder-no-fix" readonly="true"/>
            </div>
            <div class=" clearfix">
              <label>Event Type</label>
              <input type="text" value="<%= @job.event_type.name %>" class="form-control placeholder-no-fix" readonly="true"/>
            </div>
            <div class=" clearfix">
              <label>Message Details</label>
              <textarea class="form-control placeholder-no-fix" readonly="true"><%= @job.message_details %></textarea>
            </div>
            <br>
            <div class="clearfix">
             <% if @job.status == "admin_approved_job" %>
                  <a class="btn btn-sm green" onclick="approve_job_by_admin('<%= @job.id %>')">
                    Approved
                  </a>
                  <% else %>
                  <a class="btn btn-sm green" onclick="approve_job_by_admin('<%= @job.id %>')">
                    Approve
                  </a>
                  <% end %>
              <% if @job.status != "admin_approved_job" %>
              <a class="btn btn-sm red" onclick="reject_job_by_admin('<%= @job.id %>')">
                Reject
              </a>
                  <% end %>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<style>
    .abcd {
        width: 320px;
        height: 300px;
    }
</style>
</body>
<script>
    function approve_job_by_admin(job_id){
//    alert(1)
        apprise("Are you sure you want to approve job", {'confirm': true}, function (r) {
            if (r) {
        $.ajax({
            type: 'get',
            dataType: 'html',
            processData: false,
            url: '/admin/jobs/approve_job_by_admin?id=' + job_id,
            success: function (data) {
                window.location.href =  "/admin/jobs/index"
            },
            error: function (data) {
            }
        })

            }
        })
    }
    function reject_job_by_admin(job_id){
        apprise("Are you sure you want to Reject job", {'confirm': true}, function (r) {
            if (r) {
                $.ajax({
                    type: 'get',
                    dataType: 'html',
                    processData: false,
                    url: '/admin/jobs/reject_job_by_admin?id=' + job_id,
                    success: function (data) {
                        if (data == "") {

                        }
                        else {
                            window.location.href =  "/admin/jobs/index"
                        }
                    },
                    error: function (data) {
                    }
                })

            }
        })

    }
</script>