<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Untitled Document</title>
</head>
<body>
<h1>Contact Email</h1>

<h2><b>By: </b> <%= @name %></h2>
<h4><b>Email: </b> <%= @email %></h4>
<h4><b>Contact: </b> <%= @p_no %></h4>
<h4><b>Order: </b> <%= @o_no %></h4>


<h2><b>Message Type: </b> <%= @b_type %></h2>

<h2><b>Message: </b> <%= @message %></h2>
</body>
</html>