<% if celebs.size > 0 %>
    <% celebs.each do |celeberty| %>
        <div class="directory-user-con">
          <div class="image-con" onclick="window.location.href = '/celebrities/<%= celeberty.id %>'">
          <!--<div class="image-con" onclick="show(<%#= celeberty.id %>)">-->
            <% if celeberty.celebrity.present? && celeberty.celebrity.avatar.present? %>
                <%= image_tag celeberty.celebrity.avatar(:thumb) %>
            <% else %>
                <%= image_tag "missing.jpg" %>
            <% end %>
            <!--<img src="/assets/directory-image.jpg" alt="">-->
          </div>
          <div class="dir-user-name"><%= (celeberty.first_name if celeberty.first_name.present?) + ' ' + (celeberty.last_name if celeberty.last_name.present?) %></div>
          <!--<div class="dir-profession-titel"><%#= celeberty.celebrity.description if (celeberty.celebrity.present? && celeberty.celebrity.description.present?) %></div>-->
          <div class="dir-profession-titel">
            <% industry = Industry.find(celeberty.celebrity.industry_id) %>
            <%= industry.title %>
            <br>
            <%= count = get_remaining_videos(celeberty.id) %> Celebvidy remaining
            <!--Click the Order button to Purchase a personalized Celebvidy from this-->
            <!--celebrity.-->
          </div>
          <!--<div class="mobReviewRate-con">-->
          <!--<div class="mobReviewRate">-->
          <!--<div>-->
          <!--<div>-->
          <!--<div>-->
          <!--<div>-->
          <!--<input type="radio" id="rating1" name="rating" value="1" class="activ">-->
          <!--<label for="rating1" class="activ"><span>1</span></label>-->
          <!--</div>-->
          <!--<input type="radio" id="rating2" name="rating" value="2">-->
          <!--<label for="rating2"><span>2</span></label>-->
          <!--</div>-->
          <!--<input type="radio" id="rating3" name="rating" value="3">-->
          <!--<label for="rating3"><span>3</span></label>-->
          <!--</div>-->
          <!--<input type="radio" id="rating4" name="rating" value="4">-->
          <!--<label for="rating4"><span>4</span></label>-->
          <!--</div>-->
          <!--<input type="radio" id="rating5" name="rating" value="5">-->
          <!--<label for="rating5"><span>5</span></label>-->
          <!--</div>-->
          <!--&lt;!&ndash;mobReviewRate End&ndash;&gt;-->
          <!--</div>-->
          <!--mobReviewRate-con end-->

          <!--<div class="dir-profession"><%#= celeberty.celebrity.about_me if (celeberty.celebrity.present? && celeberty.celebrity.about_me.present?) %></div>-->
          <!--dir-profession end-->
          <% count = get_remaining_videos(celeberty.id) %>
          <% if count > 0 %>
          <a href="/jobs/<%= celeberty.id %>">
            <div class="getit-btn">Order Celebvidy</div>
          </a><!--getit-btn end-->
          <% else %>
              <a href="#">
                <div class="getit-btn zero_counter" id="zero_counter">Order Celebvidy</div>
              </a><!--getit-btn end-->
          <% end %>

          <div class="dir-price"><%= '$' + number_with_delimiter(number_with_precision(celeberty.celebrity.default_rate, :precision => 2),:delimiter => ',') if celeberty.celebrity.present? && celeberty.celebrity.default_rate.present? %></div>
        </div>

    <% end %>
<% else %>
    <div class="directory-user-con">
      <div class="dir-user-name">
        No celebvidy found!
      </div>
    </div>
<% end %>

<%# celebs.each do |celeberty| %>
<!--<a href="javascript:;" onclick="show(<%#= celeberty.id %>)">-->
<%# if celeberty.celebrity.present? && celeberty.celebrity.avatar.present? %>
<%#= image_tag celeberty.celebrity.avatar(:thumb) %>
<%# else %>
<%#= image_tag "missing.jpg" %>
<%# end %>
<!--<h5><%#= (celeberty.first_name if celeberty.first_name.present?) + ' ' + (celeberty.last_name if celeberty.last_name.present?) %></h5>-->

<!--<p><%#= celeberty.celebrity.about_me if (celeberty.celebrity.present? && celeberty.celebrity.about_me.present?) %></p>-->
<!--</a>-->
<%# end %>


<script>
    $("#head_div").removeClass('bg-image4');
    $("#head_div").addClass('bg-image3');
    $(".zero_counter").click(function(){
        alert("You can 't place your order, no more videos are available for this month")
    })

</script>