<div class="warrper">
  <div class="white-cotaner">
    <div class="inner-con">
      <div class="form-container">
        <div class="your-pro-h">Change Password</div>
        <div class="sginup-con">
          <div class="logo-con login-pading"><a href="/"><img src="/assets/logo-signup23.png" alt=""></a></div>
          <div class="w-100">
            <%= form_for @user, :url => "/celeberities/update_password", :html => {:id => "passwor_form"} do |f| %>
                <div class="signup-form-box change-label-new">
                  <label>Old Password</label>
                  <%= password_field_tag :old_password %>
                </div>
                <div class="signup-form-box change-label-new">
                  <label>New Password</label>
                  <%= password_field_tag :new_password %>
                </div>
                <div class="signup-form-box change-label-new">
                  <label>Confirm New Password</label>
                  <%= password_field_tag :confirm_password %>
                </div>
                <%= hidden_field_tag :user_id, @user.id %>

                <div class="change-btn-new">
                  <input type="button" value="Save Password" onclick="save_password()">
                </div>

            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<div style="background-color: #FFFFFF"><h1>Change Password</h1>-->
<!--<%#= form_for @user, :url => "/celeberities/update_password", :html => {:id => "passwor_form"} do |f| %>-->
<!--<h3>Old Password</h3>-->
<!--<%#= password_field_tag :old_password %>-->
<!--<br>-->

<!--<h3>New Password</h3>-->
<!--<%#= password_field_tag :new_password %>-->
<!--<br>-->

<!--<h3>Confirm New Password</h3>-->
<!--<%#= password_field_tag :confirm_password %>-->
<!--<%#= hidden_field_tag :user_id, @user.id %>-->
<!--<br>-->
<!--<input type="button" value="Save Password" onclick="save_password()">-->
<!--<%# end %>-->
<!--</div>-->
<script>
    $(document).ready(function () {
        $("#passwor_form").validate({
            rules: {
                "old_password": {
                    required: true,
                    minlength: 8,
                    maxlength: 255
                },
                "new_password": {
                    required: true,
                    minlength: 8,
                    maxlength: 255
                },
                "confirm_password": {
                    required: true,
                    minlength: 8,
                    maxlength: 255,
                    equalTo: "#new_password"
                }

            }
        })
    });

    function save_password() {
        if ($("#passwor_form").valid() == true) {
            $("#passwor_form").ajaxSubmit({
                url: '/celeberties/update_pass',
                success: function (data) {
                    if (data.success) {
                        alert(data.message)
                    }
                    else {
//                        hud message that password updated successfully
//                        $("#container").html(data)
                        window.location.href = "/my-account"
                    }
                }
            });
        }
    }
</script>