<div class="warrper">
  <div class="white-cotaner">
    <div class="form-con-checkout-main">
      <div class="form-con-checkout">
        <div class="your-pro-h">your profile</div>
        <div class="ch-password">
          <div class="email-add">email address</div>
          <div class="email-id">
            <!--<img src="/assets/pencil.png" alt="">-->
            <span><%= @user.email if @user.present? %></span>
          </div>
        </div>
        <div class="ch-password">
          <div class="email-add">Password</div>
          <!--email-id end-->
          <div class="email-id"><img src="/assets/pencil.png" alt="">
            <span><a href="#" onclick="change_paw('<%= @user.id %>')">Change Password</a></span></div>
        </div>
      </div>
      <div class="confirm-detail-con">
        <div class="order-detail-h">My Personal Characteristics</div>
        <div class="ch-password">
          <div class="email-add">About Me:</div>
          <div class="email-id">
            <!--<img src="/assets/pencil.png" alt="">-->
            <span><%= @user.profile.about_me if @user.profile.present? %></span>
          </div>
        </div>

        <div class="ch-password">
          <div class="email-add">Age:</div>
          <div class="email-id">
            <!--<img src="/assets/pencil.png" alt="">-->
            <span><%= @user.profile.age if @user.profile.present? %></span>
          </div>
        </div>

        <div class="ch-password">
          <div class="email-add">Body Type:</div>
          <div class="email-id">
            <!--<img src="/assets/pencil.png" alt="">-->
            <span><%= @user.profile.body_type if @user.profile.present? %></span>
          </div>
        </div>

        <div class="ch-password">
          <div class="email-add">Hair:</div>
          <div class="email-id">
            <!--<img src="/assets/pencil.png" alt="">-->
            <span><%= @user.profile.hair if @user.profile.present? %></span>
          </div>
        </div>

        <div class="ch-password">
          <div class="email-add">Eyes:</div>
          <div class="email-id">
            <!--<img src="/assets/pencil.png" alt="">-->
            <span><%= @user.profile.eyes if @user.profile.present? %></span>
          </div>
        </div>

        <div class="ch-password">
          <div class="email-add">School Standings:</div>
          <div class="email-id">
            <!--<img src="/assets/pencil.png" alt="">-->
            <span><%= @user.profile.school_standings if @user.profile.present? %></span>
          </div>
        </div>

        <div class="ch-password">
          <div class="email-add">Study Focus:</div>
          <div class="email-id">
            <!--<img src="/assets/pencil.png" alt="">-->
            <span><%= @user.profile.study_focus if @user.profile.present? %></span>
          </div>
        </div>

        <div class="ch-password">
          <div class="email-add">Smokes:</div>
          <div class="email-id">
            <!--<img src="/assets/pencil.png" alt="">-->
            <span><%= @user.profile.smokes if @user.profile.present? %></span>
          </div>
        </div>

        <div class="ch-password">
          <div class="email-add">Drinks:</div>
          <div class="email-id">
            <!--<img src="/assets/pencil.png" alt="">-->
            <span><%= @user.profile.drinks if @user.profile.present? %></span>
          </div>
        </div>

        <div class="ch-password">
          <div class="email-add">your Described perfect first date:</div>
          <div class="email-id">
            <!--<img src="/assets/pencil.png" alt="">-->
            <span><%= @user.profile.first_date if @user.profile.present? %></span>
          </div>
        </div>

        <div class="ch-password">
          <div class="email-add">hobbies do you enjoyed:</div>
          <div class="email-id">
            <!--<img src="/assets/pencil.png" alt="">-->
            <span><%= @user.profile.hobbies if @user.profile.present? %></span>
          </div>
        </div>

        <div class="ch-password">
          <div class="email-add">What do you typically do with your free time:</div>
          <div class="email-id">
            <!--<img src="/assets/pencil.png" alt="">-->
            <span><%= @user.profile.free_time if @user.profile.present? %></span>
          </div>
        </div>


        <div class="ch-password">
          <div class="email-add">Which three words describe you best?:  </div>
          <div class="email-id">
            <!--<img src="/assets/pencil.png" alt="">-->
            <span><%= @user.profile.best_words if @user.profile.present? %></span>
          </div>
        </div>

        <div class="ch-password">
          <div class="email-add">Where do you see yourself in 5 years?:</div>
          <div class="email-id">
            <!--<img src="/assets/pencil.png" alt="">-->
            <span><%= @user.profile.see_you_five_years if @user.profile.present? %></span>
          </div>
        </div>

        <div class="ch-password">
          <div class="email-add"> If you could travel to one place in the world, where would it be and why?::</div>
          <div class="email-id">
            <!--<img src="/assets/pencil.png" alt="">-->
            <span><%= @user.profile.where_why_travel if @user.profile.present? %></span>
          </div>
        </div>

        <div class="ch-password">
          <div class="email-add">Favorite types of food?:</div>
          <div class="email-id">
            <!--<img src="/assets/pencil.png" alt="">-->
            <span><%= @user.profile.food if @user.profile.present? %></span>
          </div>
        </div>


      </div>
    </div>
  </div>
  <div class="copyrightMob">2016 StudentsManage. All Rights Reserverd.</div>
</div>




<script>
//    function get_video(cid, jid) {
//        $.ajax({
//            url: '/celeberties/get_video?cid=' + cid + '&jid=' + jid,
//            success: function (data) {
//                $("#container").html(data)
////                window.scroll(0, 0)
//            }
//        });
//    }
    function view_status(cid, jid) {
        a = "/status-pending/"+ jid

        alert(a)
        window.location.href = "/status-pending/"+ jid
//        $.ajax({
//            url: '/celeberties/pending_status?cid=' + cid + '&jid=' + jid,
//            success: function (data) {
//                $("#container").html(data)
//                      //          window.scroll(0, 0)
//            }
//        });
    }
//    function edit_job(cid, jid) {
//        alert("a")
//                window.location.href = "/update-order/"+ cid +'/'+ jid
//    }
</script>


















<!--<div class="warrper">-->
<!--<div class="white-cotaner">-->
<!--<div class="directory-page-h">Your Profile</div>-->
<!--<h6>Email Address</h6>-->
<!--<h6><a href="javascript:;"><%#= user.email if user.present? %></a></h6>-->
<!--<h6>Password</h6>-->

<!--<h6><a href="javascript:;" onclick="change_paw(<%#= user.id %>)">Change Password</a></h6>-->
<!--<h6><a href="javascript:;">Change Password</a></h6>-->

<!--<h2>Order Details</h2>-->

<!--
<%# jobs.each do |job| %>-->
<!--
<%# if job.status != "notdelivered" %>-->
<!--
<%# celeb = User.find_celeb(job.celebrity_id) %>-->
<!--
<%# if celeb.celebrity.present? && celeb.celebrity.avatar.present? %>-->
<!--<%#= image_tag celeb.celebrity.avatar(:thumb) %>-->
<!--
<%# else %>-->
<!--<%#= image_tag "missing.jpg" %>-->
<!--
<%# end %>-->
<!--<br>-->
<!--<%#= (celeb.first_name if celeb.first_name.present?) + ' ' + (celeb.last_name if celeb.last_name.present?) %>-->
<!--<br>-->
<!--<%#= celeb.celebrity.about_me if (celeb.celebrity.present? && celeb.celebrity.about_me.present?) %>-->
<!--<br>-->
<!--<b>Order-->
<!--<h2>delivered:-->
<!--</b>-->
<!--</h2>-->
<%#= job.updated_at.month.to_s + '/' + job.updated_at.day.to_s + '/' + job.updated_at.year.to_s %>
<!--<br>-->
<!--<b>-->
<!--<h2>Status:</h2>-->
<!--</h2>-->
<!--</b>-->
<%#= job.status %>
<!--<br>-->
<!--
<%# if job.status=="completed" %>-->
<!--<a href="javascript:;">-->
<!--<button>View Video</button>-->
<!--</a>-->
<!--
<%# else %>-->
<!--<a href="javascript:;">-->
<!--<button>View Status</button>-->
<!--</a>-->
<!--
<%# end %>-->
<!--<br>-->
<!--
<%# end %>-->
<!--
<%# end %>-->
<!--</div>-->
<!--</div>-->

<script>

    $(document).ready(function () {
        $("#head_div").removeClass('bg-image4');
        $("#head_div").addClass('bg-image3');

        $(".menu-icon").click(function () {
            $(this).next('ul').show();
            //$('').toggle("slide", { direction: "up" }, 1000);
        });
    });

    function change_paw(user_id) {
        $.ajax({
            url: '/celeberties/edit_pass?id=' + user_id,
            success: function (data) {
                $("#container").html(data)
            },
            error: function (data) {
                alert("Some thing wrong happend.")
            }
        });
    }
</script>