<body class="page-header-fixed page-quick-sidebar-over-content ">
<div class="page-content-wrapper">
  <div class="page-content" style="min-height:1215px">

    <div class="row">
      <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">
          Users
        </h3>
        <ul class="page-breadcrumb breadcrumb">
          <li>
            <i class="fa fa-home"></i>
            <a href="/admin/users/all-users">Profiles</a>
            <i class="fa fa-angle-right"></i>
          </li>
          <!--<li>-->
            <!--<i class="icon-user"></i>-->
            <!--<a href="/admin/users/new">Add New User</a>-->
            <!--<a href="/admin/users/new">Add New User</a>-->
            <!--<i class="fa fa-angle-right"></i>-->
          <!--</li>-->
          <li>
            <a href="/admin/users/all-users">Display All Profiles</a>
          </li>
          <li class="pull-right">
            <div data-original-title="Change dashboard date range" data-placement="top" class="dashboard-date-range tooltips" id="dashboard-report-range">
              <i class="icon-calendar"></i>
              <span></span>
              <i class="fa fa-angle-down"></i>
            </div>
          </li>
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
      </div>
    </div>


    <div class="row">
      <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box red">
          <div class="portlet-title">
            <div class="caption">
              <i class="fa fa-globe"></i> All Profiles
            </div>
            <div class="tools">
              <a class="collapse" href="javascript:;">
              </a>
              <a class="config" data-toggle="modal" href="#portlet-config">
              </a>
              <a class="reload" href="javascript:;">
              </a>
              <a class="remove" href="javascript:;">
              </a>
            </div>
          </div>
          <div class="portlet-body">
            <div class="table-toolbar">
              <!--<div class="btn-group">-->
                <!--<%#= link_to "Create User", new_admin_user_path, :class => "btn blue" %>-->
                <!--&lt;!&ndash;new_admin_user_path&ndash;&gt;-->
              <!--</div>-->

            </div>
            <div id="sample_1_wrapper" class="dataTables_wrapper no-footer">
              <!--<div class="table-scrollable">-->
              <table id="sample_1" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid" aria-describedby="sample_1_info">
                <thead>
                <tr role="row">
                  <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 50px;" aria-label="Email">
                    #
                  </th>
                  <th class="sorting_asc" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" style="width: 248px;" aria-sort="ascending" aria-label="Username: activate to sort column ascending">
                    Email
                  </th>
                  <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 248px;" aria-label="Email">
                    Is Approved
                  </th>
                  <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 248px;" aria-label="Email">
About Me
                  </th>
                  <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 248px;" aria-label="Email">
                    Age
                  </th>
                  <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 248px;" aria-label="Email">
                    Body Style
                  </th>
                  <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 248px;" aria-label="Email">
                    Hair
                  </th>
                  <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 248px;" aria-label="Email">
                    Eyes
                  </th>
                  <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 248px;" aria-label="Email">
                    School Standings
                  </th>
                  <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 248px;" aria-label="Email">
                    Study Focus
                  </th>
                  <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 248px;" aria-label="Email">
                    Smokes
                  </th>
                  <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 248px;" aria-label="Email">
                    Drink
                  </th>
                  <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 248px;" aria-label="Email">
Your First Date
                  </th>
                  <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 248px;" aria-label="Email">
                    Hobbies
                  </th>
                  <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 91px;" aria-label="Points">
                    3 best words
                  </th>

                  <th class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" style="width: 120px;" aria-label="Joined: activate to sort column ascending">
                    Action
                  </th>
                </tr>
                </thead>
                <tbody>
                <% @profile.where(:is_approved => false).each_with_index do |profile, index| %>
                    <tr class="">
                      <td>
                        <%= index+1 %>
                      </td>
                      <td>
                        <%= profile.user.email if profile.user %>
                      </td>
                      <td>
                        <%= profile.is_approved == true ? "Yes" : "No" %>
                      </td>
                      <td>
                        <%= profile.about_me %>
                      </td>
                      <td>
                        <%= profile.age  %>
                      </td>
                      <td>
                        <%= profile.body_type%>

                      </td>
                      <td>
                        <%= profile.hair  %>

                      </td>
                      <td>
                        <%= profile.eyes  %>

                      </td>
                      <td>
                        <%= profile.school_standings  %>
                      </td>
                      <td>
                        <%= profile.study_focus  %>
                      </td>
                      <td>
                        <%= profile.smokes  %>
                      </td>
                      <td>
                        <%= profile.drinks %>
                      </td>
                      <td>
                        <%= profile.first_date %>
                      </td>
                      <td>
                        <%= profile.hobbies  %>
                      </td>
                      <td>
                        <%= profile.best_words %>
                      </td>
                      <td>
                        <a href="javascript:void(0)" style="text-decoration:none" onclick="approve_profile(<%= profile.id %>)">
                          <span class="icon fa fa-power-off user_status" status="0" user_id="99" id="user99"></span></a>&nbsp;&nbsp;
                        <%= link_to "Show" %>
                        <%#= link_to "Edit", edit_admin_user_path(user) %>&nbsp;&nbsp;
                        <%= link_to 'Delete', admin_profile_path(profile),
                                    method: :delete, data: {confirm: 'Are you sure?'} %>
                      </td>
                    </tr>
                <% end %>
                </tbody>
              </table>
              <!--</div>-->
            </div>
          </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
      </div>
    </div>


    <div class="row">
      <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box green">
          <div class="portlet-title">
            <div class="caption">
              <i class="fa fa-globe"></i> Approved Profiles
            </div>
            <div class="tools">
              <a class="collapse" href="javascript:;">
              </a>
              <a class="config" data-toggle="modal" href="#portlet-config">
              </a>
              <a class="reload" href="javascript:;">
              </a>
              <a class="remove" href="javascript:;">
              </a>
            </div>
          </div>
          <div class="portlet-body">
            <div class="table-toolbar">
              <div class="btn-group">
                <%#= link_to "Create User", admin_users_add_user_path, :class => "btn green" %>

              </div>

            </div>
            <div id="sample_2_wrapper" class="dataTables_wrapper no-footer">
              <!--<div class="table-scrollable">-->
              <table id="sample_2" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid" aria-describedby="sample_2_info">
                <thead>
                <tr role="row">
                  <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 50px;" aria-label="Email">
                    #
                  </th>
                  <th class="sorting_asc" tabindex="0" aria-controls="sample_2" rowspan="1" colspan="1" style="width: 143px;" aria-sort="ascending" aria-label="Username: activate to sort column ascending">
                    Email
                  </th>
                  <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 248px;" aria-label="Email">
                    Is Approved
                  </th>
                  <th class="sorting_disabled" rowspan="1" colspan="1" style="" aria-label="Email">
                    About Me
                  </th>
                  <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 248px;" aria-label="Email">
                    Age
                  </th>
                  <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 248px;" aria-label="Email">
                    Body Style
                  </th>
                  <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 248px;" aria-label="Email">
                    Hair
                  </th>
                  <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 248px;" aria-label="Email">
                    Eyes
                  </th>
                  <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 248px;" aria-label="Email">
                    School Standings
                  </th>
                  <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 248px;" aria-label="Email">
                    Study Focus
                  </th>
                  <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 248px;" aria-label="Email">
                    Smokes
                  </th>
                  <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 248px;" aria-label="Email">
                    Drink
                  </th>
                  <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 248px;" aria-label="Email">
                    Your First Date
                  </th>
                  <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 248px;" aria-label="Email">
                    Hobbies
                  </th>
                  <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 91px;" aria-label="Points">
                    3 best words
                  </th>

                  <th class="sorting" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" style="width: 120px;" aria-label="Joined: activate to sort column ascending">
                    Action
                  </th>
                </tr>
                </thead>
                <tbody>
                <% @profile.where(:is_approved => true).each_with_index do |profile, index| %>
                    <tr class="">
                      <td>
                        <%= index+1 %>
                      </td>
                      <td>
                        <%= profile.user.email if profile.user %>
                      </td>
                      <td>
                        <%= profile.is_approved == true ? "Yes" : "No" %>
                      </td>
                      <td>
                        <%= profile.about_me %>
                      </td>
                      <td>
                        <%= profile.age%>
                      </td>
                      <td>
                        <%= profile.body_type %>

                      </td>
                      <td>
                        <%=profile.hair %>

                      </td>
                      <td>
                        <%= profile.eyes %>

                      </td>
                      <td>
                        <%=profile.school_standings %>
                      </td>
                      <td>
                        <%= profile.study_focus  %>
                      </td>
                      <td>
                        <%= profile.smokes%>
                      </td>
                      <td>
                        <%= profile.drinks  %>
                      </td>
                      <td>
                        <%=profile.first_date %>
                      </td>
                      <td>
                        <%= profile.hobbies  %>
                      </td>
                      <td>
                        <%= profile.best_words  %>
                      </td>
                      <td>
                        <a href="javascript:void(0)" style="text-decoration:none" onclick="reject_profile(<%= profile.id %>)">
                          <span class="icon fa fa-power-off user_status" status="0" user_id="99" id="user99"></span></a>&nbsp;&nbsp;
                        <%= link_to "Show" %>
                        <%#= link_to "Edit", edit_admin_user_path(user) %>&nbsp;&nbsp;
                        <%= link_to 'Delete', admin_profile_path(profile),
                                    method: :delete, data: {confirm: 'Are you sure?'} %>
                      </td>
                    </tr>
                <% end %>
                </tbody>
              </table>
              <!--</div>-->
            </div>
          </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
      </div>
    </div>


  </div>
</div>
</body>
<script>
    var table = $('#sample_2');

    // begin first table
    table.dataTable({
        "columns": [
            {
                "orderable": false
            },
            {
                "orderable": true
            },
            {
                "orderable": true
            },
            {
                "orderable": true
            },
            {
                "orderable": true
            },
            {
                "orderable": true
            },
            {
                "orderable": true
            },
            {
                "orderable": true
            },
            {
                "orderable": true
            },
            {
                "orderable": true
            },
            {
                "orderable": true
            },
            {
                "orderable": true
            },
            {
                "orderable": false
            },
            {
                "orderable": false
            }
        ],
        "lengthMenu": [
            [5, 10, 15, 20, -1],
            [5, 10, 15, 20, "All"] // change per page values here
        ],
        // set the initial value
        "pageLength": 10,
        "pagingType": "bootstrap_full_number",
        "language": {
            "lengthMenu": "_MENU_ records",
            "paginate": {
                "previous": "Prev",
                "next": "Next",
                "last": "Last",
                "first": "First"
            }
        },
        "columnDefs": [
            {  // set default column settings
                'orderable': false,
                'targets': [0]
            },
            {
                "searchable": false,
                "targets": [0]
            }
        ],
        "order": [
            [1, "asc"]
        ] // set first column as a default sort by asc
    });
    var table = $('#sample_1');

    // begin first table
    table.dataTable({
        "columns": [
            {
                "orderable": false
            },
            {
                "orderable": true
            },
            {
                "orderable": true
            },
            {
                "orderable": true
            },
            {
                "orderable": true
            },
            {
                "orderable": true
            },
            {
                "orderable": true
            },
            {
                "orderable": true
            },
            {
                "orderable": true
            },
            {
                "orderable": true
            },
            {
                "orderable": true
            },
            {
                "orderable": true
            },
            {
                "orderable": false
            },
            {
                "orderable": false
            }
        ],
        "lengthMenu": [
            [5, 10, 15, 20, -1],
            [5, 10, 15, 20, "All"] // change per page values here
        ],
        // set the initial value
        "pageLength": 10,
        "pagingType": "bootstrap_full_number",
        "language": {
            "lengthMenu": "_MENU_ records",
            "paginate": {
                "previous": "Prev",
                "next": "Next",
                "last": "Last",
                "first": "First"
            }
        },
        "columnDefs": [
            {  // set default column settings
                'orderable': false,
                'targets': [0]
            },
            {
                "searchable": false,
                "targets": [0]
            }
        ],
        "order": [
            [1, "asc"]
        ] // set first column as a default sort by asc
    });
    function approve_profile(id) {
        apprise("Are you Sure You want to Approve Profile?", {'confirm': true}, function (r) {
            if (r) {
                $.ajax({
                    type: 'get',
                    dataType: 'html',
                    processData: false,
                    url: '/admin/profile/active_deactive_profile?id=' + id,
                    success: function (data) {
                        if (data == "") {

                        }
                        else {
                            window.location.reload()
                        }
                    },
                    error: function (data) {
                    }
                })
            }
        })
    }

    function reject_profile(id) {
        apprise("Are you Sure You want to Reject Profile?", {'confirm': true}, function (r) {
            if (r) {
                $.ajax({
                    type: 'get',
                    dataType: 'html',
                    processData: false,
                    url: '/admin/profile/active_deactive_profile?id=' + id,
                    success: function (data) {
                        if (data == "") {

                        }
                        else {
                            window.location.reload()
                        }
                    },
                    error: function (data) {
                    }
                })
            }
        })
    }

</script>
