<body class="page-header-fixed page-quick-sidebar-over-content ">
<div class="page-content-wrapper">
  <div class="page-content" style="min-height:1215px">
  <div class="row">
    <div class="col-md-12">
      <!-- BEGIN PROFILE SIDEBAR -->
      <div class="profile-sidebar">
        <!-- PORTLET MAIN -->
        <div class="portlet light profile-sidebar-portlet ">
          <!-- SIDEBAR USERPIC -->
          <div class="profile-userpic">
            <% if @profile.present? && @profile.avatar.present? %>
                <%= image_tag @profile.avatar(:thumb) %>
            <% else %>
                <%= image_tag "missing.jpg" %>
            <% end %>
          <!-- END SIDEBAR USERPIC -->
          <!-- SIDEBAR USER TITLE -->
          <div class="profile-usertitle">
            <div class="profile-usertitle-name"> <%= @profile.user.first_name %> </div>
            <div class="profile-usertitle-job"> <%= @profile.user.last_name %></div>
          </div>
          <!-- END SIDEBAR USER TITLE -->
          <!-- SIDEBAR BUTTONS -->
          <!-- END SIDEBAR BUTTONS -->
          <!-- SIDEBAR MENU -->
          <!-- END MENU -->
        </div>
        <!-- END PORTLET MAIN -->
        <!-- PORTLET MAIN -->
        <!-- END PORTLET MAIN -->
      </div>
      <!-- END BEGIN PROFILE SIDEBAR -->
      <!-- BEGIN PROFILE CONTENT -->
      <div class="profile-content">
        <div class="row">
          <div class="col-md-12">
            <div class="portlet light ">
              <div class="portlet-title tabbable-line">

                <ul class="nav nav-tabs">
                  <li class="active">
                    <a data-toggle="tab" href="#tab_1_1">BioData</a>
                  </li>
                  <li>
                    <a data-toggle="tab" href="#tab_1_2">Personal Characteristics</a>
                  </li>
                  <li>
                    <a data-toggle="tab" href="#tab_1_3">General Question</a>
                  </li>
                </ul>
              </div>
              <div class="portlet-body">
                <div class="tab-content">
                  <!-- GENERAL QUESTION TAB -->
                  <div id="tab_1_1" class="tab-pane active">
                    <div class="panel-group" id="accordion1">
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a href="#accordion1_1" data-parent="#accordion1" data-toggle="collapse" class="accordion-toggle accordion-toggle-styled"> 1. First Name ? </a>
                          </h4>
                        </div>
                        <div class="panel-collapse collapse in" id="accordion1_1">
                          <div class="panel-body"> <%= @profile.user.first_name %> </div>
                        </div>
                      </div>
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a href="#accordion1_2" data-parent="#accordion1" data-toggle="collapse" class="accordion-toggle accordion-toggle-styled"> 2. Last Name ? </a>
                          </h4>
                        </div>
                        <div class="panel-collapse collapse" id="accordion1_2">
                          <div class="panel-body"> <%= @profile.user.last_name %> </div>
                        </div>
                      </div>
                      <div class="panel panel-success">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a href="#accordion1_3" data-parent="#accordion1" data-toggle="collapse" class="accordion-toggle accordion-toggle-styled"> 3. Email Address ? </a>
                          </h4>
                        </div>
                        <div class="panel-collapse collapse" id="accordion1_3">
                          <div class="panel-body"> <%= @profile.user.email %> </div>
                        </div>
                      </div>
                      <div class="panel panel-warning">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a href="#accordion1_4" data-parent="#accordion1" data-toggle="collapse" class="accordion-toggle accordion-toggle-styled"> 4. Others ? </a>
                          </h4>
                        </div>
                        <div class="panel-collapse collapse" id="accordion1_4">
                          <div class="panel-body"> 3  </div>
                        </div>
                      </div>
                      <!--<div class="panel panel-danger">-->
                        <!--<div class="panel-heading">-->
                          <!--<h4 class="panel-title">-->
                            <!--<a href="#accordion1_5" data-parent="#accordion1" data-toggle="collapse" class="accordion-toggle accordion-toggle-styled"> 5. Leggings occaecat craft beer farm-to-table, raw denim aesthetic ? </a>-->
                          <!--</h4>-->
                        <!--</div>-->
                        <!--<div class="panel-collapse collapse" id="accordion1_5">-->
                          <!--<div class="panel-body"> 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin-->
                            <!--coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings-->
                            <!--occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS. Food truck quinoa nesciunt laborum eiusmod.-->
                            <!--Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et </div>-->
                        <!--</div>-->
                      <!--</div>-->
                      <!--<div class="panel panel-default">-->
                        <!--<div class="panel-heading">-->
                          <!--<h4 class="panel-title">-->
                            <!--<a href="#accordion1_6" data-parent="#accordion1" data-toggle="collapse" class="accordion-toggle accordion-toggle-styled"> 6. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth ? </a>-->
                          <!--</h4>-->
                        <!--</div>-->
                        <!--<div class="panel-collapse collapse" id="accordion1_6">-->
                          <!--<div class="panel-body"> 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin-->
                            <!--coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings-->
                            <!--occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS. Food truck quinoa nesciunt laborum eiusmod.-->
                            <!--Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et </div>-->
                        <!--</div>-->
                      <!--</div>-->
                      <!--<div class="panel panel-default">-->
                        <!--<div class="panel-heading">-->
                          <!--<h4 class="panel-title">-->
                            <!--<a href="#accordion1_7" data-parent="#accordion1" data-toggle="collapse" class="accordion-toggle accordion-toggle-styled"> 7. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft ? </a>-->
                          <!--</h4>-->
                        <!--</div>-->
                        <!--<div class="panel-collapse collapse" id="accordion1_7">-->
                          <!--<div class="panel-body"> 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin-->
                            <!--coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings-->
                            <!--occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS. Food truck quinoa nesciunt laborum eiusmod.-->
                            <!--Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et </div>-->
                        <!--</div>-->
                      <!--</div>-->
                    </div>
                  </div>
                  <!-- END GENERAL QUESTION TAB -->
                  <!-- MEMBERSHIP TAB -->
                  <div id="tab_1_2" class="tab-pane">
                    <div class="panel-group" id="accordion2">
                      <div class="panel panel-warning">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a href="#accordion2_1" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle accordion-toggle-styled"> 1. About me ? </a>
                          </h4>
                        </div>
                        <div class="panel-collapse collapse in" id="accordion2_1">
                          <div class="panel-body">
                            <p> <%= @profile.about_me %> </p>
                          </div>
                        </div>
                      </div>
                      <div class="panel panel-danger">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a href="#accordion2_2" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle accordion-toggle-styled"> 2. Age ? </a>
                          </h4>
                        </div>
                        <div class="panel-collapse collapse" id="accordion2_2">
                          <div class="panel-body"> <%= @profile.age %></div>
                        </div>
                      </div>
                      <div class="panel panel-success">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a href="#accordion2_3" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle accordion-toggle-styled"> 3. Body Type ? </a>
                          </h4>
                        </div>
                        <div class="panel-collapse collapse" id="accordion2_3">
                          <div class="panel-body"> <%= @profile.body_type %> </div>
                        </div>
                      </div>
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a href="#accordion2_4" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle accordion-toggle-styled"> 4. Hair ? </a>
                          </h4>
                        </div>
                        <div class="panel-collapse collapse" id="accordion2_4">
                          <div class="panel-body"> <%= @profile.hair %> </div>
                        </div>
                      </div>
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a href="#accordion2_5" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle accordion-toggle-styled"> 5. Eyes ? </a>
                          </h4>
                        </div>
                        <div class="panel-collapse collapse" id="accordion2_5">
                          <div class="panel-body"> <%= @profile.eyes %> </div>
                        </div>
                      </div>
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a href="#accordion2_6" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle accordion-toggle-styled"> 6. SchoolStandings ? </a>
                          </h4>
                        </div>
                        <div class="panel-collapse collapse" id="accordion2_6">
                          <div class="panel-body"> <%= @profile.school_standings %> </div>
                        </div>
                      </div>
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a href="#accordion2_7" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle accordion-toggle-styled"> 7. Study Focus ? </a>
                          </h4>
                        </div>
                        <div class="panel-collapse collapse" id="accordion2_7">
                          <div class="panel-body"> <%= @profile.study_focus %> </div>
                        </div>
                      </div>
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a href="#accordion2_8" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle accordion-toggle-styled"> 8. Smokes ? </a>
                          </h4>
                        </div>
                        <div class="panel-collapse collapse" id="accordion2_8">
                          <div class="panel-body"> <%= @profile.smokes %> </div>
                        </div>
                      </div>
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a href="#accordion2_9" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle accordion-toggle-styled"> 9. Drinks ? </a>
                          </h4>
                        </div>
                        <div class="panel-collapse collapse" id="accordion2_9">
                          <div class="panel-body"> <%= @profile.drinks %> </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- END MEMBERSHIP TAB -->
                  <!-- TERMS OF USE TAB -->
                  <div id="tab_1_3" class="tab-pane">
                    <div class="panel-group" id="accordion3">
                      <div class="panel panel-danger">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a href="#accordion3_1" data-parent="#accordion3" data-toggle="collapse" class="accordion-toggle accordion-toggle-styled"> 1. your Described perfect first date ? </a>
                          </h4>
                        </div>
                        <div class="panel-collapse collapse in" id="accordion3_1">
                          <div class="panel-body">
                            <p> <%= @profile.first_date %> </p>
                          </div>
                        </div>
                      </div>
                      <div class="panel panel-success">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a href="#accordion3_2" data-parent="#accordion3" data-toggle="collapse" class="accordion-toggle accordion-toggle-styled"> 2. hobbies do you enjoyed ? </a>
                          </h4>
                        </div>
                        <div class="panel-collapse collapse" id="accordion3_2">
                          <div class="panel-body"> <%= @profile.hobbies %> </div>
                        </div>
                      </div>
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a href="#accordion3_3" data-parent="#accordion3" data-toggle="collapse" class="accordion-toggle accordion-toggle-styled"> 3. What do you typically do with your free time ? </a>
                          </h4>
                        </div>
                        <div class="panel-collapse collapse" id="accordion3_3">
                          <div class="panel-body"> <%= @profile.free_time %> </div>
                        </div>
                      </div>
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a href="#accordion3_4" data-parent="#accordion3" data-toggle="collapse" class="accordion-toggle accordion-toggle-styled"> 4. Which three words describe you best  ? </a>
                          </h4>
                        </div>
                        <div class="panel-collapse collapse" id="accordion3_4">
                          <div class="panel-body"> <%= @profile.best_words %> </div>
                        </div>
                      </div>
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a href="#accordion3_5" data-parent="#accordion3" data-toggle="collapse" class="accordion-toggle accordion-toggle-styled"> 5. Where do you see yourself in 5 years ? </a>
                          </h4>
                        </div>
                        <div class="panel-collapse collapse" id="accordion3_5">
                          <div class="panel-body"> <%= @profile.see_you_five_years %> </div>
                        </div>
                      </div>
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a href="#accordion3_6" data-parent="#accordion3" data-toggle="collapse" class="accordion-toggle accordion-toggle-styled"> 6.  If you could travel to one place in the world, where would it be and why ? </a>
                          </h4>
                        </div>
                        <div class="panel-collapse collapse" id="accordion3_6">
                          <div class="panel-body"> <%= @profile.where_why_travel %> </div>
                        </div>
                      </div>
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h4 class="panel-title">
                            <a href="#accordion3_7" data-parent="#accordion3" data-toggle="collapse" class="accordion-toggle accordion-toggle-styled"> 7. Favorite types of food ? </a>
                          </h4>
                        </div>
                        <div class="panel-collapse collapse" id="accordion3_7">
                          <div class="panel-body"> <%= @profile.food %> </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- END TERMS OF USE TAB -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END PROFILE CONTENT -->
    </div>
  </div>
  </div>
  </div>
  </div>
</body>
  <!--</div>-->

