<!DOCTYPE html>
<html>
<head>
  <title>StudentsManage</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!--<link rel="icon" type="image/png" href="/assets/favicon.png" />-->
  <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <% if @celeb.present? && @celeb.celebrity && @celeb.celebrity.avatar%>
  <meta property="og:image" content= "<%= @celeb.celebrity.avatar.url %>">
  <% elsif @user.present? && @user.celebrity.present? && @user.celebrity.avatar.present? %>
      <meta property="og:image" content= "<%= @user.celebrity.avatar.url %>">
  <% end %>
  <% if @celeb.present? && @celeb.celebrity && @celeb.celebrity.avatar%>
  <meta property="og:url" content="http://stage.celebvidy.com/celebrities/<%= @celeb.id if @celeb.present? %>">
  <% elsif @user.present? && @user.celebrity.present? && @user.celebrity.avatar.present? %>
      <meta property="og:url" content="http://stage.celebvidy.com/celebrities/<%= @user.id if @user.present? %>">
  <% end %>
  <meta property="og:title" content="Celebvidy">
  <meta property="og:description" content="We make it easy for fans to purchase personalized videos from celebrities and ask advice questions from business leaders, fitness experts, chefs, etc.">
</head>
<body>
<!--<div id="head_div" class="bg-image">-->
  <%= render "/shared/header" %>
  <div id="container">
<%# end %>


    <!--<div id="flash_div">-->
<%#= render :partial => "shared/flash_messages" %>
    <!--</div>-->

    <%= yield %>

<%# if current_user.present? %>
  </div>
<!--</div>-->
<%#= render "/shared/footer" %>
<%# end %>


</body>
<!--<div class="background_shadow" style="display: none">-->
  <!--<div class="loader_img"></div>-->
<!--</div>-->
</html>
